
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>   
    <header>
        <div class="Menu_style">


            <p>| LEARN EASY |</p>
            <button>
                <p>-</p>
                <p>-</p>
                <p>-</p>
            </button>
            <div class="dwa_menu">
                 <a href="">Home Page</a>
            </div>
            <div class="dwa_menu">
                 <a href="">About Us</a>
            </div>

            <div class="dwa_menu">
                 <a href="">Your Profile</a>
            </div>
            <div class="dwa_menu">
                 <a href="">Subscription</a>
            </div>

        </div>



    </header>

    <nav>
        <div class="nav_first">
            <a href="">Home Page</a>
            <a href="">Start Learning</a>
            <a href="">About Us</a>
            <a href="">Your Profile</a>
            <a href="">Subscription</a>

        </div>
        <div class="nav_second">

            <a href="">Start Learning</a>

        </div>

    </nav>

    {%block content%}{%endblock content%}





    <footer>
        <ul>
            <li>weclasmarcin@gmai.clom</li>
            <li>Autor : Marcin Węcłaś</li>
            <li>Home-Page</li>
        </ul>

    </footer>
</body>
   
</html>