{%extends "base.html"%}
{%block content%}
{%load static%}
<html>
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
</html>

    <article class="welcome_articule">
        <h1>Hi! Welcome to site.</h1>
        <p>I make this to project to help people learing others leangues. <br> On site you can easy learn some vocabulary. <br> I want make this proces easyer.</p>
        

    </article>

    <article>
        <h2>How use site</h2>
        <p>To use site you must be <a href="">log-in</a>.</p>
        <p>Next you upload .txt file or take a picture of vocabulary that you want to learn.  <br>Vocalbulary must be in coretly order.</p>
        <p> <br>  On one site english on other Polish and the must be seperd by ' - ' ex.</p>
        <p> must - musieć <br> want - chcieć </p>
        <p>There is video how to use app</p>
        <video src="">  </video>
        

    </article>

{%endblock content%}