{%extends "base.html"%}
{%block content%}
<style>
    .conteiner{
        display:grid;

        height: 80%;
        width: 100%;

        }

    .description{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 40px;
        text-align:center;
        width: 900px;
        height: 600px;
        font-size: 25px;
    }
    .how_it_work{
        width: 900px;
        height: 600px;
        font-size: 25px;
        text-align:center;



    }
    .how_use_this{

        width: 900px;
        height: 600px;
        font-size: 25px;
        text-align:center;
    }


</style>

    <div class="conteiner">

        <div class="description">
        <p>Lorem ipsum dolor sit amet. Ut distinctio dolor vel nemo cupiditate a unde galisum? Ut numquam quod qui molestiae similique eos totam eligendi ut dolorem eius vel quas incidunt 33 tenetur consequatur est labore eligendi! </p><p>Rem sunt temporibus est consequatur consequuntur et cumque voluptatem est internos voluptatum sed quasi optio vel nostrum corrupti. Est dolor eligendi qui rerum velit est officia nesciunt est rerum optio. </p><p>Aut sunt maxime ab ipsam saepe id minima doloribus aut impedit voluptatem At rerum reiciendis? Et porro unde id atque atque et tenetur voluptate. </p><p>Ex aperiam possimus id officiis deleniti est eaque suscipit sed voluptatem aliquid. Est ullam minima est nobis minima et possimus autem et quisquam dignissimos est cupiditate dolores. Et alias modi qui alias facilis non voluptas alias eos autem facilis! Ut vitae velit aut temporibus quibusdam et numquam expedita sed rerum tenetur. </p>
        </div>

        <div class="how_it_work"> <p>opisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopis</p> </div>

        <div class="how_use_this"><p>opisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopisopis</p></div>

    </div>

{%endblock content%}