<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Easy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <header>
        <nav class="navbar">
            <a href="{% url 'Welcome-Page' %}" class="nav-branding">Learn Easy.</a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Zacznij się uczyć</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">O nas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Login</a>
                </li>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>

    </header>
    {%block content%}

    {%endblock content%}


</body>
<script src="{% static   'js/script.js'%}"></script>
</html>