{%extends "WelcomeSite/base.html"%}
{%block content%}
{%load static%}
<html>
    <link rel="stylesheet" href="{% static 'css/style_applikacja.css' %}">
</html>

   
    <div class="main">

        <article class="Hero">
         <div>
            <h2>Zacznij się uczyć!</h2>
            <p>Dzięki naszej stronie łatwo przygotujesz zestawy słówek oraz się ich nauczysz!
               <br> Jedyne co musisz zrobić to wgrać lub wpisać słowka na naszą stronę.
               <br> Uruchomić jeden z trybów:
               <ul>
                <li>- Wpisywanie</li>
                <li>- Fiszki</li>
                <li>- Test</li>
               </ul>
               <br> Każde z wymienionych trybów można zmieniać kolejność <br> Język opcy - Polski | Polski - Język obcy

            </p>
            <h3>Wypróbuj już teraz i stwórz swój pierwszy zestaw!</h3>
            <a href="#">Stwórz Zestaw!</a>
            <a href="#">Zacznij naukę!</a>
        </div>
            <img src="{% static 'foto/book-img.png'%} " alt="">

        </article>
        <article class="User_data">
            <img src="{% static 'foto/User_data_foto.png'%} " alt="">
            <div>
                <h2>Twoje Zestawy</h2>
                <p>Ostatnio używane zestawy</p>
                <!-- x6 div z zestaw pentla for  -->
               <a href=""> <div class="zestaw"> Nazwa zestawu </div> </a>

            </div>

        </article>


        <article class="File_upload">
            <img src="{% static 'foto/upload.png'%}" alt="">

            <div>
                <h2>Na czym polega wgrywanie plików</h2>
                <p>Słówka do zestawy możemy wgrać za pomocą: </p>
                <ul>
                    <li>- Pliku z rozszerzeniem .txt</li>
                    <li>- Zdjęcia na którym napisane są słówka w kolejności <br> Polski - Język Obcy</li>
                    <li>- Wpisać ręcznie</li>
                </ul>
                
                    <span class="przyklady">
                     <p> Przyklady: <br></p>
                     <img src="{% static 'foto/przykad_1.png'%}" alt="">
                     <img src="{% static 'foto/przykad_1.png'%}" alt="">
                    </span>

            </div>

            

        </article>


    </div>



{%endblock content%}